---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro'
import Bento from '../components/Bento.astro'
import Video from '../components/Video.astro'
import PreFooter from '../components/PreFooter.astro'
import Footer from '../components/Footer.astro'
---

<Layout 
	title="Bienvenido a PARECO. Tu aliado en reciclaje de materiales."
	description="Descubre a tu aliado en reciclaje de materiales metálicos y aleaciones en México."
>
	<main>
		<Video />
		<Intro />
		<Bento />
		<PreFooter />
	</main>
	<Footer />
</Layout>
