<div class="w-full relative">
    <video 
        class="w-full h-screen object-cover object-top animate-ease-in-out animate-fade animate-duration-1000"
        src="/video.mp4"
        autoplay
        loop
        muted
        style="border-radius: 0% 0% 60% 60% / 0% 0% 5% 5%;" 
    >
    </video>
    <video 
        class="absolute w-full -bottom-24 blur-3xl -z-40"
        src="/video.mp4"
        autoplay
        loop
        muted
    >
    </video>
</div>