---
import Header from '../components/Header.astro'
import '@fontsource/ubuntu'

interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
	}
	html {
		font-family: 'Ubuntu', system-ui, sans-serif;
		background: #CFE2D0;
		background-size: 224px;
	}
	p{
		margin: 0
	}
	strong{
		font-weight: bold;
	}
	.active-button{
		border: 10px solid #418E3D;
		transform: scale(1.1);
		transition: border-color 1s, transform 1s;
	}
	.not-active-button{
		border: 10px solid #FFFFFF;
		transform: scale(1);
		transition: border-color 1s, transform 1s;
	}
</style>
